<section class="mb-5 hero">
  <div class="section-container">
    <div class="row g-0 mt-5 align-items-center hero-content">
      <div class="col-4 hero-content__left">
        <div class="hero-title">
          <p><span>let's </span></p>
          <p>explore</p>
          <p><span>unique</span></p>
          <p>recipes.</p>
        </div>
        <p class="hero-subtitle mt-4">Unleash your unique style!</p>
        <button class="shop-btn mt-3">shop now</button>
      </div>
      <div class="col-6 row offset-2 hero-content__right">
        <div class="col-6 image-wrapper-left">
          <img src="../../assets/hero-image-1.jpeg" alt="" />
          <img src="../../assets/hero-image-2.jpeg" alt="" />
        </div>
        <div class="col-6 mt-5 image-wrapper-right">
          <img src="../../assets/hero-image-3.jpeg" alt="" />
          <img src="../../assets/hero-image-4.jpeg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
