<div class="text-center">
  <div class="container d-flex justify-content-between align-items-center">
    <span>
      Server Status
      <b [ngStyle]="{ color: getServerStatusColor() }">{{
        serverStatus ? "Online" : "Offline"
      }}</b>
    </span>
    <button class="btn btn-primary" (click)="toggleServerStatus()">
      Toggle Server Status
    </button>
  </div>

  <!-- pass data [singleServer] to child component -->
  <app-server
    *ngFor="let server of servers"
    [singleServer]="server"
    [name]="server.name"
    ><p #serverStatusRef>{{ server.name }}</p></app-server
  >

  <div class="d-flex justify-content-between align-items-center">
    <!-- one way databinding -->
    <!-- <section>
      <input
        type="text"
        name="server"
        id="add-server"
        placeholder="one-way-binding"
        (input)="handleAddServer($event)"
      />
      <p>{{ serverName }}</p>
    </section> -->
    <!-- two way databinding -->
    <!-- <section>
      <input
        type="text"
        name="server"
        id="add-server"
        placeholder="two-way-binding"
        [(ngModel)]="serverName"
      />
    </section> -->
    <!-- local references -->
    <!-- <section>
      <input
        type="text"
        name="server"
        id="add-server"
        placeholder="local references"
        #serverNameInput
      />
    </section> -->
    <!-- Viewchild DOM ref -->
    <section>
      <input
        type="text"
        name="server"
        id="add-server"
        placeholder="Viewchild"
        #serverNameInput
      />
    </section>

    <button
      class="btn btn-primary"
      [disabled]="!serverStatus"
      (click)="onAddServer(serverNameInput)"
    >
      Add Server
    </button>
  </div>
</div>
