/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.section-container {
  max-width: 1222px;
  margin: 0 auto;
  padding: 3rem 0;
}

.section-heading {
  font-family: "Playfair Display", --bs-font-sans-serif;
  margin-bottom: 3rem;
}
